h2 {
    font-size: 1.5em;
    margin-top: 0;
    padding-top: 0;
    color: #E3E2E7;
    background-color: #0425A4;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}